.bg-custom {
    background-image: linear-gradient(135deg, #2a2a2a, #0d0d0d);
}

.bg-custom-dark {
    background-image: linear-gradient(to bottom right, #1a1a1a, #111111);
}

.hover-card a {
    transition: transform 0.3s, background-color 0.3s;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.hover-card a:hover {
    transform: scale(1.05);
    background-color: #222;
}