<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" ,
                style="background-image: linear-gradient(to bottom right, #1a1a1a, #111111);">
                <div class="container">
                    <a class="navbar-brand" href="index.html">Contact</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="index.html" onclick="smoothScroll('list')">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" onclick="smoothScroll('list')">Models</a></li>
                            <li class="nav-item"><a class="nav-link" href="blog.html" onclick="smoothScroll('contact')">blogs</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </header>

    <main>
        <section id="contact" class="py-5 text-white" style="background-color: #1a1a1a;">
            <div class="container">
                
                <header class="mb-4">
                    <h1 class="h2 text-center">Contact Us</h1>
                </header>
                
                <div class="row-1">
                    <!-- Contact Information -->
                    <div class="col-md-6 mb-4">
                        <h2 class="h4 mb-3">Contact Information</h2>
                        <ul class="list-unstyled mb-4"
                            style="padding: 20px; border-radius: 10px; background-color: #222; box-shadow: 0 2px 10px rgba(0,0,0,0.5);">
                            <li><strong>Mobile Number:</strong> <a href="tel:+917696221709" class="text-info">+91 7696
                                    221 709</a></li>
                            <li><strong>Address:</strong> House no 1, Gobindbagh, near SM school, Patiala, 147001</li>
                            <li><strong>Email:</strong> <a href="mailto:techopswalk@gmail.com"
                                    class="text-info">techopswalk@gmail.com</a></li>
                        </ul>
                    </div>

                    <!-- Contact Form -->
                    <div class="col-md-12 mb-4">
                        <h2 class="h4 mb-3">Have Questions? </h2>
                        <form id="contact-form" action="#" method="post"
                            style="padding: 20px; border-radius: 10px; background-image: linear-gradient(#1a1a1a, #111); box-shadow: 0 2px 10px rgba(0,0,0,0.5);">
                            <div class="mb-3">
                                <label for="name" class="form-label">Your Name:</label>
                                <input type="text" id="name" name="name" class="form-control" required
                                    style="border-radius: 20px; padding: 10px; border: 1px solid #444; background-color: #333; color: #fff;">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Your Email:</label>
                                <input type="email" id="email" name="email" class="form-control" required
                                    style="border-radius: 20px; padding: 10px; border: 1px solid #444; background-color: #333; color: #fff;">
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Your Message:</label>
                                <textarea id="message" name="message" rows="4" class="form-control" required
                                    style="border-radius: 20px; padding: 10px; border: 1px solid #444; background-color: #333; color: #fff;"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="captcha" class="form-label">Please enter the code below:</label>
                                <div id="captcha-image" class="mb-2"
                                    style="background-color: #444; border-radius: 10px; padding: 10px;"></div>
                                <input type="text" id="captcha-input" name="captcha" class="form-control" required
                                    style="border-radius: 20px; padding: 10px; border: 1px solid #444; background-color: #333; color: #fff;">
                            </div>
                            <div class="text-end">
                                <input type="submit" value="Submit" class="btn btn-outline-light"
                                    style="border-radius: 20px; padding: 10px 20px;"
                                    onclick="return validateContactForm()">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Contact Map -->
                <div class="row-2">
                    <div class="col-md-12 mb-4">
                        <h2 class="h4 mb-3">Contact Map</h2>
                        <div class="map-container mb-3 rounded shadow-sm">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d860.832943391518!2d76.42603747348538!3d30.34151956649264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391029244a2b8579%3A0x4f74f3c8e78a9746!2stechOpswalk!5e0!3m2!1sen!2sin!4v1729040404053!5m2!1sen!2sin"
                                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="text-end">
                            <a href="https://www.google.com/maps/dir/?api=1&destination=House+no+1%2C+Gobindbagh%2C+near+SM+school%2C+Patiala%2C+147001"
                                target="_blank" class="btn btn-outline-light"
                                style="border-radius: 20px; padding: 10px 20px;">
                                <i class="fas fa-directions"></i> Get Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>

    <footer class="bg-dark text-white py-4"
        style="background-image: linear-gradient(to bottom right, #1a1a1a, #111111);">
        <div class="container text-center">
            <div class="row mb-4">
                <div class="col-md-6 mb-3 mb-md-0">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="privacy.html" class="text-white text-decoration-none">Privacy Policy</a></li>
                        <li class="mb-2"><a href="terms_of_service.html" class="text-white text-decoration-none">Terms of Service</a></li>
                        <li class="mb-2"><a href="contact.html" class="text-white text-decoration-none">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/company/techopswalk/posts/?viewAsMember=true" target="_blank" class="text-white me-3 fs-4">
                            <i class="fab fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/profile.php?id=61557305109802&sk=about" target="_blank" class="text-white me-3 fs-4">
                            <i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/techopswalk/" target="_blank" class="text-white me-3 fs-4">
                            <i class="fab fa-instagram"></i></a>
                        <a href="https://twitter.com/techopswalk" target="_blank" class="text-white me-3 fs-4">
                            <i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/@Techopswalk" target="_blank" class="text-white fs-4">
                            <i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="mb-0">&copy; 2024 techOpswalk. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/modules/form.js"></script>


</body>

</html>