<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Join the team at TechOpswalk and help shape the future of innovation and sustainable development.">
    <meta name="keywords" content="Careers, Jobs, TechOpswalk, Innovation">
    <meta name="author" content="TechOpswalk">
    
    <title>Job Apply at TechOpswalk</title>

</head>
<body>
    <main>
        <style>
            .responsive-iframe {
              width: 100%;
              height: 600px;
              border: none;
            }
          </style>
          <iframe class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLScI5EKDyh3sKg79ZgfKJjNW7HZuamwsL0Dq_krtbyUiWMp1IA/viewform?embedded=true">Loading…</iframe>
    </main>

</body>
